img[alt='logo'] {
    width: 10rem;
    height: auto;
}
.navbar{
    position: sticky;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
/* input[type "text"] {
    padding: 8px;
    width
} */
button {
    padding: 8px 12px;
    cursor: pointer;
    margin-bottom: 10px;
}